<!doctype html>
<html ng-app="cryptoApp">

  <head>
    <title>Cryptogram</title>
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body ng-controller="CryptoCtrl">

    <div ng-show='loading()'>
      {{pending_slurps.length}} <!-- for debugging -->
      <div ng-show='pending_slurps != 0'>
        Please Wait.. Attempting to load more puzzly goodness.
        <img src="images/busy.gif"></img>
      </div>
      <div ng-show='pending_slurps == 0'>
        [Descending Trumpet Sound] Wah, wah, wahhhhhhh... No more puzzles for a while
        <input id="load" type="button" value="Try Again" ng-click="load_cryptext_hack()" ></input>
      </div>
    </div>

    <div ng-hide='loading()'>
      <div id="crypto" spellcheck="false">
        <span ng-repeat="c in $storage.cryptext track by $index" 
              ng-class="{highlight:is_highlighted(c)}" 
              ng-click="set_highlight(c)"
              ng-keydown="set_key_from_event(c, $event)"
              contenteditable={{editable(c)}}
              ng-focus="set_highlight(c)"
              ng-dblclick="give_hint(c)"
              >{{c}}</span>
      </div>

      <div id="clear" spellcheck="false" >
        <span ng-repeat="c in get_cleartext() track by $index"
              ng-class="{highlight:is_highlighted($storage.cryptext[$index]),correct:puzzle_completed()}" 
              ng-click="set_highlight($storage.cryptext[$index])"
              ng-keydown="set_key_from_event($storage.cryptext[$index], $event)"
              contenteditable={{editable($storage.cryptext[$index])}}
              ng-focus="set_highlight($storage.cryptext[$index])"
              >{{c}}</span>
      </div>


      <div id="controls">
        <input type="checkbox" ng-model="$storage.show_suggestions">Show Suggestions</input>
        Suggestion Limit: {{$storage.suggestion_limit}} 

        <span id="suggestion_limit_controls">
          <a ng-click="change_suggestion_limit(-50)">&lt;&lt;</a>
          <a ng-click="change_suggestion_limit(-5)">-</a>/<a ng-click="change_suggestion_limit(5)">+</a>
          <a ng-click="change_suggestion_limit(50)">&gt;&gt;</a>
        </span>
        <select ng-model="selection" ng-options="item for item in ['common words', 'all words']"></select>
        <input id="load" type="button" value="Next Puzzle" ng-click="load_cryptext_hack()" ></input>
      </div>

      <div id="key_and_hints">
      <div id="key">
        <div ng-repeat="(crypt_char, clear_char) in $storage.key" 
             ng-click="set_highlight(crypt_char)"
             ng-keydown="set_key_from_event(crypt_char, $event)"
             contenteditable="true" 
             ng-focus="set_highlight(crypt_char)"
             >
          <span ng-class="{highlight:is_highlighted(crypt_char)}" >
            {{crypt_char}} - {{get_clearchar(crypt_char)}} ({{freq[crypt_char]}})</span>

          <div class="suggestion" ng-show="$storage.show_suggestions && (highlights == crypt_char)">
            <ul>
              <li ng-repeat="suggestion in suggestions.by_length[0] | limitTo:$storage.suggestion_limit" >
                <a ng-click="take_suggestion(crypt_char,suggestion)">{{suggestion}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="word_by_count" id={{"word_by_count"+i}} ng-repeat="i in word_lengths">
        {{i}}-letter word(s)
        <div ng-repeat="word in words | filter:{length:i}:true | orderBy:'-count'" 
             ng-keydown="set_key_from_event('', $event)"
             contenteditable="true"
             ng-focus="set_highlight(word.word)"
             ng-click="explore_suggestions(word.word, $storage.key)"
             ng-class="{bogus:(big_suggestions[word.word]==0)}"
             >

          <span ng-repeat="c in word.word track by $index"
                ng-class="{highlight:is_highlighted(c), set:is_set(c)}" 
                contenteditable="false"
                >{{c}}</span> - {{big_suggestions[word.word].length}}

          <div class="suggestion"
               ng-show="$storage.show_suggestions && (highlights == word.word)"
               ng-switch="selection"
               >
            <div ng-switch-when="common words">
              <ul>
                <li ng-repeat="suggestion in suggestions.by_length[i] | limitTo:$storage.suggestion_limit">
                  <a ng-click="take_suggestion(word.word,suggestion)">{{suggestion}}</a>
                </li>
              </ul>
            </div>

            <div ng-switch-when="all words">
              <ul>
                <li ng-repeat="suggestion in big_suggestions[word.word] | limitTo:$storage.suggestion_limit">
                  <a ng-click="take_suggestion(word.word,suggestion)">{{suggestion}}</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div id="undo">
        <ul>
          <li ng-repeat="move in $storage.moves">
            <a  ng-click="revert_to($index)" ng-class="{undo_invalid:undo_invalid($index)}">
              {{move.cryptext}} - {{move.clear}} - {{move.comment}}
            </a>
          </li>
        </ul>
      </div>
      </div>
    </div>

    <div>Sample Depth: {{ $storage.samples.length }}</div> 
    <div>{{selection}}</div>
    <button ng-hide="admin" ng-click="set_admin(true)">+ Admin Panel</button>

    <div ng-show="admin">
      <button ng-click="set_admin(false)">X</button> Admin Panel
      <div ng-repeat="s in $storage.seen">
        <button ng-click="remove_seen(s)">X</button>
        <button ng-click="force_cryptext_from_clear(s)">-&gt;</button>
        {{s}}
      </div>
    </div>
  </body>
</html>
