<!doctype html>
<html ng-app="cryptoApp">

  <head>
    <title>Cryptogram</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="lib/ngStorage.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/controllers.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body ng-controller="CryptoCtrl">

    <div ng-show='loading()'>
      {{pending_slurps.length}} <!-- for debugging -->
      <div ng-show='pending_slurps != 0'>
        Please Wait.. Attempting to load more puzzly goodness.
        <img src="images/busy.gif"></img>
      </div>
      <div ng-show='pending_slurps == 0'>
        <a href="http://www.sadtrombone.com/?play=true" target="_blank">[Descending Trumpet Sound] Wah, wah, wahhhhhhh...</a> No more puzzles for a while
        <button id="self_service_on" class="btn" ng-click="$storage.cryptext='OVERWRITE ME';$storage.self_service=true" >Enter one of your own</button>
        <button id="load" class="btn btn-default" ng-click="load_cryptext()" >Try Again!</button>
      </div>
    </div>

    <div ng-hide='loading()'>
      <div id="crypto" spellcheck="false">
        <crypt-chooser
          ng-repeat="c in $storage.cryptext track by $index"
          src="c" 
          key="$storage.key" 
          ng-class="{highlight:is_highlighted(c), correct:puzzle_completed()}" 
          ng-click="set_highlight(c)"
          ng-dblclick="give_hint(c)"
          ng-keydown="set_key_from_event(c, $event)"
          ng-focus="set_highlight(c)"
          >
        </crypt-chooser>
      </div>

      <hr/>
      <div id="controls">
        </span>
        <input type="checkbox" ng-model="$storage.auto_eliminate"> Automatically choose obvious suggestions</input>
        <button id="self_service_on" class="btn" ng-click="$storage.self_service=true" >Enter one of your own</button>
        <button id="load" ng-click="load_cryptext()" >Next Puzzle</button>
      </div>
      <hr/>
      <div ng-show="$storage.self_service">
        <hr>
        <textarea id="self_servie_text" ng-model="$storage.cryptext" spellcheck="false"></textarea> <br>
        <button id="self_service_off"
          class="btn" ng-click="$storage.self_service=false"
          >Done!</button>
        <hr>
      </div>


      <div id="key_and_hints">
        <div id="key">
          <accordion close-others="true">
            <accordion-group ng-repeat="(c,d) in $storage.key"
                             ng-dblclick="give_hint(c)"
                             tabIndex=0
                             ng-focus="set_highlight(c)"
                             >
              <accordion-heading>{{c}} - {{(d||'_')}} ({{freq[c]}})</accordion-heading>
              <a ng-repeat="suggestion in suggestions.by_length[0] | filter:key_not_set"
                  ng-click="take_suggestion(c,suggestion)">
                {{suggestion}}
              </a>
            </accordion-group>
          </accordion>
        </div>

        <div id="words">
          <accordion close-others="true">
            <accordion-group ng-repeat="word in words | filter:word_is_not_solved | orderBy:'number_of_suggestions'" 
                             heading="{{ word.word + ' (' + word.number_of_suggestions + ')'}}"
                             ng-dblclick="give_hint(word.word)"
                             ng-class="{bogus:(big_suggestions[word.word]==0)}"
                             tabIndex=0
                             ng-focus="set_highlight(word.word)"
                             >
              <a ng-repeat="suggestion in pages[word.word].data"
                 ng-click="take_suggestion(word.word,suggestion)">
                {{suggestion}}
              </a>
              <div>
              <pagination total-items="pages[word.word].total_items"
                          class="pagination-sm" boundary-links="true"
                          ng-model="pages[word.word].current_page" ng-change="page_changed(word.word)"
                          previous-text="&lsaquo;" next-text="&rsaquo;"
                          first-text="&laquo;" last-text="&raquo;"
                          max-size="5" items-per-page="pages[word.word].items_per_page"
                          ng-show="big_suggestions[word.word].length > pages[word.word].items_per_page"
                          ></pagination>
              </div>
            </accordion-group>
          </accordion>
        </div>

        <div id="undo" ng-show="$storage.moves.length">
          <ul>
            <li ng-repeat="move in $storage.moves">
              <a  ng-click="revert_to($index)" ng-class="{undo_invalid:undo_invalid($index)}">
                {{move.cryptext}} - {{move.clear || "_"}} <span ng-show="move.comment"> - {{move.comment}} </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>Sample Depth: {{ $storage.samples.length }}</div> 
    <button ng-hide="admin" class="btn btn-success"  ng-click="set_admin(true)">+ Admin Panel</button>

    <div ng-show="admin">
      <button class="btn btn-danger" ng-click="set_admin(false)">X</button> Admin Panel
      <div ng-repeat="s in $storage.seen">
        <button class="btn btn-danger" ng-click="remove_seen(s)">X</button>
        <button class="btn btn-success" ng-click="force_cryptext_from_clear(s)">-&gt;</button>
        {{s}}
      </div>
    </div>
  </body>
</html>
