body {font-family: monospace;}


#controls {
  margin-top:5px;
  margin-bottom:5px;
}

#suggestion_limit_controls {
  border:solid 1px black;
  margin-right: 1em;
}

#undo {
  display:inline-block;
  border:solid 1px black;
}

.undo_invalid {
  background:red;
}



#key_and_hints > * {
  vertical-align:top;
}

#key {
  width:10%;
  display:inline-block;
}

#words {
  width:25%;
  display:inline-block;
}

#words .panel-heading {
  text-align: right;
}

.panel-heading {
  padding: 4px;
}


.set {
  text-decoration:underline;
}

.chooserContainer {
  display:inline-block;
  min-width:.75em;
  margin-bottom:8px;
}

.chooserItemContainer {
  display:inline-block;
  min-width:.75em;
}

.highlight {
  background:LightYellow;
}

.correct .chooserDst {
  background:palegreen;
}

.bogus {
  border:solid 3px red;
}

ul {
  list-style-type:none;
  padding: 4px;
  margin: 0px;
}
