body {font-family: monospace;}

#clear { 
  letter-spacing:3px;
}

#crypto {
  letter-spacing:3px;
  display:inline-block;
}

#key {
  display:inline-block;
}

#controls {
  margin-top:10px;
  margin-bottom:10px;
}

#suggestion_limit_controls {
  border:solid 1px black;
}

#undo {
  display:inline-block;
  border:solid 1px black;
}

#key_and_hints > * {
  vertical-align:top;
}

.undo_invalid {
  background:red;
}

.set {
  text-decoration:underline;
}

.word_by_count {
  display:inline-block;
  margin-right:1em;
}

.suggestion {
  display:inline-block;
  max-height:150px;
  overflow:scroll;
}

.highlight {
  background:LightYellow;
}

.correct {
  background:palegreen;
}

.bogus {
  border:solid 1px red;
}

ul {
  list-style-type:none;
  padding: 0px;
  margin: 0px;
}
